* {
    box-sizing: border-box;
}

body {
    background: url("https://i.redd.it/vel6tdm5rn521.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

img {
    display: block;
    margin: 0 auto;
    height: 125px;
    width: 125px;
}

h1 {
    color: goldenrod;
    font-size: 20px;
}

h3, p {
    text-align: center;
    color: black;
}

.characterCard {
    border: 4px solid green;
    height: 200px;
    width: 200px;
    margin: 0 10px 10px 0;
}

.yourCharacterCard {
    border: 4px solid green;
    background-color: bisque;
    height: 200px;
    width: 200px;
    margin: 0 10px 10px 0;
}

.yourDefenderCard {
    border: 4px solid black;
    background-color: red;
    height: 200px;
    width: 200px;
    margin: 0 10px 10px 0;
}

#bannertext {
    color: aquamarine;
    font-size: 50px;
    text-align: center;
}

#main-page {
    width: 1024px;
    height: auto;
    padding: 50px;
    margin: 25 auto 0;
}

#attackSection {
    border-bottom: 10px solid goldenrod;
    text-align: center;
}

#arena {
    border-width: 10px;
    border-style: solid;
    border-image: linear-gradient( to bottom, #bd9a55, rgba(0, 0, 0, 0)) 1 100%;
}

#you-attacked {
    color:white;
}


/* TO DO LIST
1. Style the character cards 
2. Style the text so it is more readable
3. Give borders to areas so the game is easily defined visually
4. Change the styles of the yourCharacterCard and yourDefenderCard so it is easy to see what 
    is actually happening on the page.



*/